# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Alembic
alembic/versions/*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Pytest
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store

# Logs
*.log
